.App {
  text-align: center;
}

@media (max-width: 500px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#main-heading {
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 50px;
}

#about-section {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

#main-image-container {
  margin-right: 40px;
}

#main-image {
  max-width: 100%;
  height: auto;
  width: auto\9;
  padding: 0.5px;
  border: 1px solid #fafafa;
}

#navbar {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: rgb(53, 53, 53); 
  text-align: center;
}

#logo-div{
  padding: 30px;
  margin: 30px;
}

#navbar-title {
  margin: 0 auto;
}

#logo {
  height: 500px; 
  width: 500px;
}

#click-more {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 19px;
  color: rgb(53, 53, 53); 
  text-decoration: none;
}

#avatar-logo {
  height: 70px; 
  width: 70px;
  padding: 5px;
}

.icons-bar {
  color: black; 
  padding: 20px;
}

#connect-with {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: cornflowerblue; 
}

.menu-items {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 19px;
  color: rgb(53, 53, 53); 
  text-decoration: none;
}

.paper-section {
  max-width: 100%;
  height: auto;
  width: auto\9;
  padding: 10px;
  margin: 10px; 
  border: 3px solid #fafafa;
}

.page-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: cornflowerblue; 
}

.page-subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: rgb(23, 22, 22); 
}

.project-card {
  min-width: 300px;
  height: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: rgb(23, 22, 22); 
}

#grid-container {
  flex-flow: flex wrap; 
}

.grid-card {
  align-self: center;
  flex-grow: 1; 
  margin: auto;
}

#grid-div {
  margin: auto;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

#tech-div {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: rgb(46, 46, 46); 
}

.devicon-ruby-plain {
  font-size: 8rem;
  color: rgb(153, 156, 164);
}

.devicon-rails-plain {
  font-size: 8rem;
  color:  rgb(153, 156, 164);
}

.devicon-postgresql-plain {
  font-size: 8rem;
  color:  rgb(153, 156, 164);
}

.plain-link {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: rgb(46, 26, 116);
}