* {
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
}

:root {
  --tech-icon-color: rgb(166, 166, 167);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#main-heading {
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 50px;
}

#about-section {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

#main-image-container {
  align-content: center;
}

#main-image {
  max-width: 100%;
  height: auto;
  display: block; 
  margin-left: auto;
  margin-right: auto;
  padding: 0.5px;
  border: 1px solid #fafafa;
}

#navbar {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: rgb(53, 53, 53); 
  text-align: center;
}

#logo-div{
  padding: 30px;
  margin: 30px;
}

#navbar-title {
  margin: 0 auto;
}

#logo {
  height: 500px; 
  width: 500px;
}

#summary {
  font-family: 'Raleway', sans-serif;
  font-weight: 500; 
  display: inline-block; 
  text-align: center; 
  width: 85%; 
  line-height: 1.4em; 
  padding: 20px 5px; 
  color: rgb(17, 36, 99); 
}

.education-div {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: auto; 
}

#education-card-1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500; 
  line-height: 1.6em; 
  padding: 20px; 
  margin: auto;
  text-align: center; 
}

#education-card-2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500; 
  line-height: 1.6em; 
  padding: 20px; 
  margin: auto;
  text-align: center; 
}

.experience-card {
  font-family: 'Raleway', sans-serif;
  font-weight: 500; 
  line-height: 1.6em; 
  padding: 20px; 
  margin: auto;
  text-align: center; 
  width: 85%;
}

.experience-left {
  display: inline-flex; 
  align-self: flex-start; 
  float: left; 
  flex-flow: column;
  text-align: left; 
}

.experience-right {
  display: inline-flex; 
  align-self: flex-end;
  float: right; 
  flex-flow: column;
  text-align: right; 
}

.experience-main {
  margin: auto;
  display: inline-flex; 
  flex-flow: column;
}

.experience-main ul {
  text-align: left;
}

.company-name {
  font-weight: bold; 
  color: rgb(78, 119, 255); 
  text-align: left; 
}

#click-more {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 19px;
  color: rgb(78, 119, 255); 
  text-decoration: none;
}

#avatar-logo {
  height: 70px; 
  width: 70px;
  padding: 5px;
}

.icons-bar {
  color: black; 
  padding: 20px;
}

#connect-with {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: rgb(78, 119, 255); 
  padding: 5px; 
}

.menu-items {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 19px;
  color: rgb(53, 53, 53); 
  text-decoration: none;
}

.paper-section {
  font-family: 'Raleway', sans-serif;
  max-width: 100%;
  height: auto;
  width: auto\9;
  padding: 10px;
  margin: 10px; 
  border: 3px solid #fafafa;
  text-align: center;
}

.page-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: rgb(78, 119, 255); 
}

.page-subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: rgb(23, 22, 22); 
}

.project-card {
  max-width: 1000px;
  height: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: rgb(23, 22, 22); 
  margin: auto; 
}

.blog-img {
  object-fit: contain;
  max-width: 600px;
  height: auto; 
  margin: auto; 
}

#grid-container {
  flex-flow: flex wrap; 
}

.grid-card {
  align-self: center;
  flex-grow: 1; 
  margin: auto;
  border-style: solid;
  border-color: rgba(100, 148, 237, 0.543);
  border-width: 1px; 
}

#grid-div {
  margin: auto;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

#tech-div {
  /* display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center; */
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: rgb(46, 46, 46); 
  margin: auto;
}

.row {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.column {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
  padding: 50px; 
}

.flex-item {
  font-size: 9rem;
  color: var(--tech-icon-color);
}

.devicon-ruby-plain {
  flex: 1 1 auto; 
  font-size: 8rem;
  color: var(--tech-icon-color);
}

.devicon-rails-plain {
  flex: 1 1 auto; 
  font-size: 8rem;
  color: var(--tech-icon-color);
}

.devicon-postgresql-plain {
  flex: 1 1 auto; 
  font-size: 8rem;
  color: var(--tech-icon-color);
}

.devicon-css3-plain{
  flex: 1 1 auto; 
  font-size: 8rem;
  color: var(--tech-icon-color);
}

.devicon-html5-plain {
  flex: 1 1 auto; 
  font-size: 8rem;
  color: var(--tech-icon-color);
}

.plain-link {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: rgb(46, 26, 116);
}

#button {
  font-family: 'Raleway', sans-serif;
  text-decoration: none; 
  color: black;
  border: 1px solid rgb(78, 119, 255);
  padding: 8px;
  border-radius: 5px;
  text-align: center; 
  margin: 10px;
  transition: all ease-in-out;
}

#button:hover {
  border: 3px solid rgb(247, 206, 72);
  border-radius: 10px;
  background: rgb(225, 223, 223);
}

@media screen and (max-width: 600px) {
  #logo {
    max-width: 80%; 
    height: auto; 
  }
}

